<site name="Contoso" serverAutoStart="true">
   <application path="/">
      <virtualDirectory path="/" physicalPath="." />
   </application>
   <application path="/">
      <virtualDirectory path="/" physicalPath="." />
      <virtualDirectory path="/fwx" physicalPath="..\fwx-system\wwwroot\fwx" />
   </application>
   <bindings>
      <binding protocol="http" bindingInformation="*:5555:localhost" />
   </bindings>
</site>