<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <!-- show us some errors damn it -->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">

    <sessionState mode="Off"
                  cookieless="true"
                  timeout="30"
    />
  </system.web>
  


  <system.webServer>
    


    <!-- define our beautiful request handlers -->
    <handlers>
      
      <!-- clean up -->
      <remove name="WebDAV" />

      <!-- remove options handler -->
      <!-- fyneworks will decide which origins are allowed
            http://stackoverflow.com/questions/22495240/iis-hijacks-cors-preflight-options-request
            http://stackoverflow.com/questions/12458444/enabling-cross-origin-resource-sharing-on-iis7
      -->
      <remove name="OPTIONSVerbHandler" />
      
      <!-- add node.js handler -->
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <remove name="iisnode" />
      <add name="iisnode" path="^(server|min|static|api).js" verb="*" modules="iisnode"/>
      
      <!-- classic asp -->
      <!-- explicitly add classic asp to pipeline model -->
      <remove name="ASPClassic" />
      <add name="ASPClassic" 
           path="*.asp" 
           verb="GET,HEAD,POST,PUT,HEAD,OPTIONS" 
           modules="IsapiModule" 
           scriptProcessor="%windir%\system32\inetsrv\asp.dll"
           resourceType="File" />

    </handlers>



    <!-- REQUIRED: make IIS display Fyneworks errors (including friendly 404 pages!) -->
		<asp scriptErrorSentToBrowser="true"/>
		<httpErrors existingResponse="PassThrough"/>
		

    
    <!-- default document -->
    <defaultDocument enabled="true">
      <files>
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <remove value="Default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="Default.html" />
        <remove value="index.asp" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>


	</system.webServer>

</configuration>