<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <!-- show us some errors damn it -->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">

    <sessionState mode="Off"
                  cookieless="true"
                  timeout="30"
    />
  </system.web>
  


  <system.webServer>
    


    <!-- define our beautiful request handlers -->
    <handlers>
      
      <!-- clean up -->
      <remove name="WebDAV" />

      <!-- remove options handler -->
      <!-- fyneworks will decide which origins are allowed
            http://stackoverflow.com/questions/22495240/iis-hijacks-cors-preflight-options-request
            http://stackoverflow.com/questions/12458444/enabling-cross-origin-resource-sharing-on-iis7
      -->
      <remove name="OPTIONSVerbHandler" />
      
      <!-- add node.js handler -->
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <remove name="iisnode" />
      <add name="iisnode" path="^(server|min|static|api).js" verb="*" modules="iisnode"/>
      
      <!-- classic asp -->
      <!-- explicitly add classic asp to pipeline model -->
      <remove name="ASPClassic" />
      <add name="ASPClassic" 
           path="*.asp" 
           verb="GET,HEAD,POST,PUT,HEAD,OPTIONS" 
           modules="IsapiModule" 
           scriptProcessor="%windir%\system32\inetsrv\asp.dll"
           resourceType="File" />

    </handlers>



    <!-- REQUIRED: make IIS display Fyneworks errors (including friendly 404 pages!) -->
		<httpErrors existingResponse="PassThrough"/>


    
    <!-- ASP CONFIGURATION
         http://www.iis.net/configreference/system.webserver/asp
        appAllowClientDebug Optional Boolean attribute. Specifies whether client-side debugging is enabled. The default value is false.
        appAllowDebugging Optional Boolean attribute. Specifies whether server-side debugging is enabled. The default value is false.
        bufferingOn Optional Boolean attribute. Specifies whether buffering of ASP application output is enabled. The default value is true.
        calcLineNumber  Optional Boolean attribute. Specifies whether ASP calculates and stores the line number of each executed line of code in order to provide the number in an error report.
        codePage  Optional uint attribute. Specifies the default character set for an ASP application. This value is an integer in the range from 0 to 2147483647. For example, the value 1252 sets the default character set to a Latin character set used in American English and many European alphabets.
        enableApplicationRestart  Optional Boolean attribute. Specifies whether ASP applications are automatically restarted whenever a configuration setting is changed.
        enableAspHtmlFallback Optional Boolean attribute. Specifies whether a .htm file with the same name as the requested .asp file, if it exists, will be sent to the client instead of the .asp file. This will occur in the event that the request is rejected due to a full request queue.
        enableChunkedEncoding Optional Boolean attribute. Specifies whether HTTP 1.1 chunked transfer encoding is enabled.
        enableParentPaths Optional Boolean attribute. Specifies whether ASP pages allow paths relative to the current directory or above the current directory. The default value is false.
        errorsToNTLog Optional Boolean attribute. Specifies whether logging of ASP errors to the Windows Event Log is enabled. The default value is false.
        exceptionCatchEnable  Optional Boolean attribute. Specifies whether COM component exception trapping is enabled. If set to false, the Microsoft Script Debugger tool does not catch exceptions sent by the component that you are debugging. The default value is true.
        lcid  Optional uint attribute. Specifies the default locale identifier for an ASP application. This value is an integer in the range from 0 to 2147483647. The default value is 0.
        logErrorRequests  Optional Boolean attribute. Specifies whether ASP errors are written to the client browser and the IIS logs by default. The default value is true.
        runOnEndAnonymously Optional Boolean attribute. Specifies whether SessionOnEnd and ApplicationOnEnd global ASP functions are run as the anonymous user. The default value is true.
        scriptErrorMessage  Optional string attribute. Specifies the error message that will be sent to the browser when specific debugging errors are not sent to the client. The default value is An error occurred on the server when processing the URL. Please contact the system administrator.
        scriptErrorSentToBrowser  Optional Boolean attribute. Specifies whether the writing of debugging specifics to the client browser is enabled. The default value is false.
        scriptLanguage  Optional string attribute. Specifies the default script language for all ASP applications running on the Web server.
    -->
    <asp scriptErrorSentToBrowser="true" enableParentPaths="false" bufferingOn="true">
        <!-- http://www.iis.net/configreference/system.webserver/asp/session -->
        <session allowSessionState="false" />
    </asp>


    
    <!-- default document -->
    <defaultDocument enabled="true">
      <files>
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
        <remove value="Default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="Default.html" />
        <remove value="index.asp" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>


	</system.webServer>

</configuration>